
*.bin
*.bin
*.db
*.v2
*.vsidx
*.v2
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs/SCIAOpenAPIPortalFrame
*.exe
*.pdb
*.cache
*.exe
*.bin
*.v2
*.vsidx
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/bin/x64
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/bin
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/obj
SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs/ProjectEvaluation/sciaopenapiportalframe.metadata.v9.bin
SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs/ProjectEvaluation/sciaopenapiportalframe.metadata.v9.bin
*.exe
*.pdb
*.exe
*.bin
*.bin
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/bin/x64
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs/SCIAOpenAPIPortalFrame/DesignTimeBuild
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/.vs/SCIAOpenAPIPortalFrame/v17
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/bin/x64/Debug/net48
/SCIAOpenAPIPortalFrame/SCIAOpenAPIPortalFrame/bin/x64/Debug/net48
